.container
  position: relative

  .title
    padding: 1rem 0

  .list

    .moveButton
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      gap: 15px

      padding: 1rem
      margin-bottom: 20px

