.main
  margin-top: -70px

  overflow-x: hidden
  overflow-y: auto

  perspective: 1px

  display: flex
  flex-direction: column

  flex: 1 1 auto

  .parallaxLayer
    position: absolute
    top: 0
    right: 0
    left: 0

  .backgroundImage
    width: 100%
    height: calc(100vw / 125 * 178)
    object-fit: cover

    filter: brightness(0.6)

    transform: translateZ(-1px) scale(2)

  .mainContent
    top: calc(60vw / 125 * 178 + 80px + 70px)

    background-color: var(--background)

    padding: 60px 15px 15px

    color: var(--text-contrast)

    //height: max-content

    .cover
      position: absolute
      left: 50%
      right: 0
      bottom: calc(100% - 20px)

      transform: translateX(-50%)

      width: 60%
      height: calc(60vw / 125 * 178)
      object-fit: cover

      border-radius: 15px

      box-shadow: 0 0 15px 3px var(--shadow-color)

    .voter
      position: absolute
      left: 0
      right: 0
      top: 10px

      padding: 0 calc((20% - 8px) / 2)

    .mangaTitle
      margin-bottom: 15px
      font-size: 24px


@media ((min-width: 1024px))
  $coverHeight: calc(var(--manga-meta-data-height) - 60px)
  $coverWidth: calc($coverHeight / 178 * 125)
  $coverMargin: calc($coverWidth + 60px)

  .main
    perspective: none
    margin: 70px auto 0

    max-width: 1200px

    .backgroundImage
      display: none

    .mainContent
      position: relative
      top: 0
      padding-left: $coverMargin

      .cover
        position: absolute
        top: 30px
        left: 15px

        transform: none

        width: auto
        height: auto
        max-height: $coverHeight

      .voter
        width: $coverWidth
        padding: 15px 15px 30px
        top: calc(var(--manga-meta-data-height) - 100px)
        left: 15px

        background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.3) 80%, rgba(0, 0, 0, 0) 100%)

      .actions
        position: absolute
        top: calc(var(--manga-meta-data-height) - 15px)
        width: $coverWidth

        left: 15px

      .chapterList
        margin-left: calc(-1 * $coverMargin)
